<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Users</title>
</head>
<body>
    <nav>
        <ul class="options">
            <li><a href="/adduser">Cadastrar</a></li>
            <a href="/">Voltar para a home</a>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>