<div class="form-container">
    <form action="/adduser" method="post">
    <input type="text" name="name" placeholder="Digite seu nome">
    <input type="text" name="occupation" placeholder="Digite sua profissão">
    <input type="submit" value="Cadastrar">
    </form>
</div>