<h1>Usuários</h1>
{{#each users}}
<p id="name">Nome: {{this.name}}</p>
<p id="occupation">Profissão: {{this.occupation}}</p>
<a href="/edit/user/{{this.id}}" class="changes">Editar cadastro</a>
<a href="/user/{{this.id}}" id="details" class="changes">Detalhes do usuário</a>
{{/each}}