<div class="form-container">
<form action="/edit/user/{{user.id}}" method="post">
<input type="text" name="name" value="{{user.name}}">
<input type="text" name="occupation" value="{{user.occupation}}">
<input type="submit" value="Salvar alterações">
</form>
<form action="/address/create" method="post">
<input type="text" name="street" placeholder="Digite sua rua">
<input type="text" name="number" placeholder="Digite o número">
<input type="text" name="city" placeholder="Digite o nome da cidade">
<input type="submit" value="Cadastrar endereço">
</form>
</div>